In [2]:
#Importing necessary libraries. 
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
data = pd.read_csv("Language_detection.csv")

In [3]:
#Loading the dataset. 
data.head()

                                                Text Language
0   Nature, in the broadest sense, is the natural...  English
1  "Nature" can refer to the phenomena of the phy...  English
2  The study of nature is a large, if not the onl...  English
3  Although humans are part of nature, human acti...  English
4  [1] The word nature is borrowed from the Old F...  English

In [5]:
data.shape

(10337, 2)

As we can see that there are two columns in the dataset. Those columns being: 
1. Text: The textual data for the detection of language. 
2. Language: This column represents the language in which the text is written in. 
So, these are the two columns present in the dataset. 

Now let's see if the dataset has any missing/null values.

In [6]:
data.isnull().sum()

Text        0
Language    0
dtype: int64

As we can see that there are 0 null valuues in the dataset so we can move ahead with the processing of the data and detection of the language.

Now let's see all the languages present in the dataset.

In [7]:
data["Language"].value_counts()

English       1385
French        1014
Spanish        819
Portugeese     739
Italian        698
Russian        692
Sweedish       676
Malayalam      594
Dutch          546
Arabic         536
Turkish        474
German         470
Tamil          469
Danish         428
Kannada        369
Greek          365
Hindi           63
Name: Language, dtype: int64

We can see that there are a total of 17 languages in the dataset, although different ratio of data is present in each of them.

Now let's move ahead with the language detection model.

In [8]:
#First we will split the data into training sets and the testing sets. 
x = np.array(data["Text"])
y = np.array(data["Language"])

cv = CountVectorizer()
X = cv.fit_transform(x)
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.33, 
                                                    random_state=42)

In [9]:
#Now that we have trained the data, it's time to check the scores of our model. 
model = MultinomialNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.977725674091442

Now let's take the input from the user and test our model.

In [16]:
user = input("Enter a Text: ")
data = cv.transform([user]).toarray()
output = model.predict(data)
print(output)

Enter a Text: Γεια
['Greek']